
<h1>Bienvenue sur WarzonePC</h1>
<p>A la recherche de la performance</p>

<%= link_to 'best1440',  best1440_path %>
ou
<%= link_to 'home',  root_path %>

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
    <%= link_to best1440_path do %>
      <img src="https://media.techtribune.net/uploads/2022/01/what-pc-do-i-need-2.jpg" alt="...">      
      <div class="caption">
        <h3>Meilleur PC 1440p</h3>
        <% end %>
        <p>sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
    <%= link_to best4K_path do %>
      <img src="http://apex-legend.fr/wp-content/uploads/2020/01/U5Fdom8yDwVcEivFjiqajF-1200-80.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur PC 4K</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to best1080_path do %>
      <img src="https://static.papergeek.fr/2021/04/Meilleur-PC-gamer-2021.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur PC 1080p</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to bestCPU_path do %>
      <img src="https://i2.wp.com/laptopmedia.com/wp-content/uploads/2020/11/amdvsintel.jpg?ssl=1" alt="...">
      <div class="caption">
        <h3>Meilleur CPU </h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
    <%= link_to bestGPU_path do %>
      <img src="https://www.gpumag.com/wp-content/uploads/2020/05/amd-vs-nvidia.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur GPU</h3>
        <% end %>
        <p>sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
    <%= link_to bestRAM_path do %>
      <img src="https://vonguru.fr/wp-content/uploads/2016/12/G.Skill-Trident-Z-RGB-DDR4-RAM-modules-1.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur RAM DDR4&DDR5</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to mbamd_path do %>
      <img src="https://images.frandroid.com/wp-content/uploads/2021/04/carte-mere.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Carte Mère AMD</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to mbIntel_path do %>
      <img src="https://overclocking.com/wp-content/medias/2022/02/godlike-min.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Carte Mère Intel DDR4&DDR5 </h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
    <%= link_to screen_path do %>
      <img src="https://image.jeuxvideo.com/medias-md/162099/1620988393-4799-card.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Ecran 4K 1440p 1080p</h3>
        <% end %>
        <p>sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
    <%= link_to bestNVME_path do %>
      <img src="https://www.leparisien.fr/resizer/eWj9sVM374PQDNtrursWJclocTY=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/lpguideshopping/2LGDVY35JFGRBLDERGP5FDTGXI.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur NVME SSD Stockage</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to bestWATT_path do %>
      <img src="https://www.buyster.fr/wp-content/uploads/2019/06/meilleure-alimentation-pc.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Alimentation</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to bestbox_path do %>
      <img src="https://www.trippodo.com/451253-medium_default/cooler-master-mastercase-h500p-mesh-argb-midi-tower-blanc.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Boitier </h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
    <%= link_to bestAIO_path do %>
      <img src="https://overclocking.com/wp-content/medias/2021/06/ek-nucleus-aio-vision-actualite-actu-hardware-overclocking.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur AIO refroidissement CPU</h3>
        <% end %>
        <p>sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
    <%= link_to mouse_path do %>
      <img src="https://www.ginjfo.com/wp-content/uploads/2019/05/Aorus_M4-03.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Souris</h3>
        <% end %>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur RAM DDR4&DDR5</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur PC 1080p</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="blockmenu">
  <div class="col-sm-8 col-md-3" id="menua">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Carte Mère AMD 1440p</h3>
        <p>sushis, riz, soupe</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menub">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Carte Mère Intel DDR4&DDR5 4K</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
      <img src="https://monstersushi.es/themes/msushi/img/backgrounds/6x4-rolls-monster-sushi-barcelona.jpg" alt="...">
      <div class="caption">
        <h3>Meilleur Ecran 4K 1080p</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-3" id="menuc">
    <div class="thumbnail">
    <%= link_to best1440_path do %>
      <img src="https://www.leparisien.fr/resizer/eWj9sVM374PQDNtrursWJclocTY=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/lpguideshopping/2LGDVY35JFGRBLDERGP5FDTGXI.jpg" alt="...">
      <% end %>
      <div class="caption">
        <h3>Meilleur PC 1080p</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Voir</a></p>
      </div>
    </div>
  </div>
</div>



