<nav class="navbar navbar-transparent" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->     
     <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/fr/1/11/Panda3D_Logo.png", height:"45", width:"45"), root_path, class:"navbar-header", id:"panda" %>
                
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       
      <%= link_to "CALL OF DUTY WARZONE PC", root_path, class:"navbar-brand", style:"font-weight: 850" %>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="nav navbar-nav navbar-right">
      
      <%= link_to "Menu", class:"navbar-brand", style:"font-weight: 850" %>

      <%= link_to "A la carte", class:"navbar-brand", style:"font-weight: 850" %>

      <%= link_to "Nous rejoindre", class:"navbar-brand", style:"font-weight: 850" %>

      <%= link_to "Me connecter/S'inscrire", class:"navbar-brand", style:"font-weight: 850" %>

      <%= link_to "Panier", class:"navbar-brand", style:"font-weight: 850" %>
      
	    
      
	    
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

